<div class="registerEmployee_container">
    <div class="registerEmployee_container_header">
        <h2>{{pageTitel}}</h2>
        <button class="registerEmployee_container_form_btn" mat-mini-fab color="primary" [routerLink]="['/showEmployes']">
            <mat-icon>navigate_before</mat-icon>
        </button>
        <button *ngIf="isNewEmployee" class="registerEmployee_container_form_btn" type="submit"
            mat-mini-fab color="primary" [disabled]="!registrationForm.valid">
            <mat-icon>save</mat-icon>
        </button>
    </div>
    <div class="registerEmployee_container_form">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <label for="first-name" class="required"> Voornaam</label>
            <input class="registerEmployee_container_form_input" id="first-name" type="text" formControlName="GivenName"
                required>

            <label for="insertions"> Tussenvoegsel</label>
            <input class="registerEmployee_container_form_input" id="insertions" type="text"
                formControlName="Insertions">

            <label for="familyName" class="required"> Achternaam</label>
            <input class="registerEmployee_container_form_input" id="familyName" type="text"
                formControlName="FamilyName" required>

            <label for="streetName" class="required">Adres </label>
            <input class="registerEmployee_container_form_input" id="streetName" type="text"
                formControlName="StreetName">

            <label for="houseNumber" class="required">Huisnummer </label>
            <input class="registerEmployee_container_form_input" id="houseNumber" type="text"
                formControlName="HouseNumber">

            <label for="postalCode" class="required">postcode </label>
            <input class="registerEmployee_container_form_input" id="postalCode" type="text"
                formControlName="PostalCode">

            <label for="city" class="required">Woonplaats </label>
            <input class="registerEmployee_container_form_input" id="city" type="text" formControlName="City">

            <label for="phoneNumber">Telefoonnummer </label>
            <input class="registerEmployee_container_form_input" id="phoneNumber" type="text"
                formControlName="PhoneNumber">

            <label for="emailAddress" class="required">E-mailadres </label>
            <input class="registerEmployee_container_form_input" id="emailAddress" type="text"
                formControlName="EmailAddress">

            <label for="preferredActivityId">Voorkeur </label>
            <select class="registerEmployee_container_form_input" name="preferredActivityId" id="preferredActivityId"
                formControlName="PreferredActivityId">
                <ng-container *ngFor="let activity of (preferredActivities$ | async )">
                    <option [value]="activity.Id">{{activity.Name}}</option>
                </ng-container>
            </select>

            <label for="preferredActivityId">Eet voorkeuren </label>
            <div class="registerEmployee_container_form_checkboxContainer">
                <input class="registerEmployee_container_form_checkboxContainer_checkbox" type="checkbox"
                    formControlName="Vegan" id="vegan">
                <label for="vegan">Veganistisch</label>
            </div>
            <div class="registerEmployee_container_form_checkboxContainer">
                <input class="registerEmployee_container_form_checkboxContainer_checkbox" type="checkbox"
                    formControlName="Vegetarian" id="vegetarian">
                <label for="vegetarian">Vegetarisch</label>
            </div>
            <div class="registerEmployee_container_form_checkboxContainer">
                <input class="registerEmployee_container_form_checkboxContainer_checkbox" type="checkbox"
                    formControlName="GlutenFree" id="glutenFree">
                <label for="glutenFree">Geen gluten</label>
            </div>
            <div class="registerEmployee_container_form_checkboxContainer">
                <input class="registerEmployee_container_form_checkboxContainer_checkbox checkbox" type="checkbox"
                    formControlName="LactoseFree" id="lactoseFree">
                <label for="lactoseFree">Geen lactose</label>
            </div>
            <div class="registerEmployee_container_form_checkboxContainer">
                <input class="registerEmployee_container_form_checkboxContainer_hasEnteredFormTruthfullyChckbox"
                    type="checkbox" formControlName="HasEnteredFormTruthfully" id="hasEnteredFormTruthfully">
                <label for="hasEnteredFormTruthfully">Ik verklaar dat dit formulier naar waarheid is ingevuld</label>
            </div>
        </form>
    </div>
</div>