<div class="container">
    <div class="form">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <label for="first-name" class="required"> Voornaam</label>
            <input id="first-name" type="text" formControlName="givenName" required>

            <label for="insertions"> Tussenvoegsel</label>
            <input id="insertions" type="text" formControlName="insertions" required>

            <label for="familyName" class="required"> Achternaam</label>
            <input id="familyName" type="text" formControlName="familyName" required>

            <label for="streetName" class="required">Adres </label>
            <input id="streetName" type="text" formControlName="streetName">

            <label for="houseNumber">Huisnummer </label>
            <input id="houseNumber" type="text" formControlName="houseNumber">

            <label for="postalCode" class="required">postcode </label>
            <input id="postalCode" type="text" formControlName="postalCode">

            <label for="city" class="required">Woonplaats </label>
            <input id="city" type="text" formControlName="city">

            <label for="phoneNumber">Telefoonnummer </label>
            <input id="phoneNumber" type="text" formControlName="phoneNumber">

            <label for="emailAddress">E-mailadres </label>
            <input id="emailAddress" type="text" formControlName="emailAddress">

            <label for="preferredActivityId">Voorkeur </label>
            <select name="preferredActivityId" id="preferredActivityId" class="input" formControlName="preferredActivityId"> 
                <ng-container *ngFor="let activity of preferredActivities">
                    <option [value]="activity.id">{{activity.name}}</option>
                </ng-container>
            </select>

            <label class="checkbox-label" for="preferredActivityId">Eet voorkeuren </label>
            <div class="checkboxContainer">
                <input class="checkbox" type="checkbox" formControlName="vegan" id="vegan">
                <label for="vegan">Veganistisch</label>
            </div>
            <div class="checkboxContainer">
                <input class="checkbox" type="checkbox" formControlName="vegetarian" id="vegetarian">
                <label for="vegetarian">Vegetarisch</label>
            </div>
            <div class="checkboxContainer">
                <input class="checkbox" type="checkbox" formControlName="glutenFree" id="glutenFree">
                <label for="glutenFree">Geen gluten</label>
            </div>
            <div class="checkboxContainer">
                <input class="checkbox" type="checkbox" formControlName="lactoseFree" id="lactoseFree">
                <label for="lactoseFree">Geen lactose</label>
            </div>
            <div class="checkboxContainer">
                <input class="checkbox" type="checkbox" formControlName="hasEnteredFormTruthfully" id="hasEnteredFormTruthfully">
                <label for="hasEnteredFormTruthfully">Ik verklaar dat dit formulier naar waarheid is ingevuld</label>
            </div>

            <button class="btn" type="submit" [disabled]="!registrationForm.valid">Submit</button>
        </form>

    </div>
</div>
