@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$background-color: #D7CCC8;
$gray-color: #9c9a9a;
$font-family: 'Roboto', sans-serif;

@mixin input($bkgnd: $background-color) {
  font-family: $font-family;
  display: inherit;
  width: 50%;
  margin: 0 0 1rem;
  padding: 0.6rem;
  font-size: 1rem;
  box-sizing: border-box;
  border-width: 0 0 1px;
  border-color: $gray-color
}

.required:after {
  content:"*";
  color: $gray-color;
}

.container{
  font-family: $font-family;
  padding: 8% 0 0;
  margin: auto;
  .form {
    position: relative;
    z-index: 1;
    margin: 0 auto 5rem;
    padding: 2rem;
    input{
      @include input; 
    }
    .input{
      @include input; 
    }
    .checkboxContainer{
      display: flex;
    }
    .checkbox{
      width: 2rem;
      &-label{
        display: block;
      }
      &_hasEnteredFormTruthfullyInput{
        width: 1rem;
        margin-right: 0.2rem;
      }
    }
  
    label {
      color: $gray-color;
      font-family: $font-family;
      margin: 0 0 1rem;
      outline: 0;
      font-size: 1rem;
    }
  }
}

