<div class="registerEmployee_container">
    <div class="registerEmployee_container_form">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <div class="registerEmployee_container_header">
                <h2>Nieuwe medewerker</h2>
                <button class="registerEmployee_container_form_btn" mat-mini-fab color="primary">
                    <mat-icon>navigate_before</mat-icon>
                </button>
                <button class="registerEmployee_container_form_btn" type="submit" mat-mini-fab color="primary"
                    [disabled]="!registrationForm.valid">
                    <mat-icon>save</mat-icon>
                </button>
            </div>

            <label for="first-name" class="required"> Voornaam</label>
            <input class="registerEmployee_container_form_input" id="first-name" type="text" formControlName="givenName"
                required>

            <label for="insertions"> Tussenvoegsel</label>
            <input class="registerEmployee_container_form_input" id="insertions" type="text"
                formControlName="insertions">

            <label for="familyName" class="required"> Achternaam</label>
            <input class="registerEmployee_container_form_input" id="familyName" type="text"
                formControlName="familyName" required>

            <label for="streetName" class="required">Adres </label>
            <input class="registerEmployee_container_form_input" id="streetName" type="text"
                formControlName="streetName">

            <label for="houseNumber" class="required">Huisnummer </label>
            <input class="registerEmployee_container_form_input" id="houseNumber" type="text"
                formControlName="houseNumber">

            <label for="postalCode" class="required">postcode </label>
            <input class="registerEmployee_container_form_input" id="postalCode" type="text"
                formControlName="postalCode">

            <label for="city" class="required">Woonplaats </label>
            <input class="registerEmployee_container_form_input" id="city" type="text" formControlName="city">

            <label for="phoneNumber">Telefoonnummer </label>
            <input class="registerEmployee_container_form_input" id="phoneNumber" type="text"
                formControlName="phoneNumber">

            <label for="emailAddress" class="required">E-mailadres </label>
            <input class="registerEmployee_container_form_input" id="emailAddress" type="text"
                formControlName="emailAddress">

            <label for="preferredActivityId">Voorkeur </label>
            <select class="registerEmployee_container_form_input" name="preferredActivityId" id="preferredActivityId"
                formControlName="preferredActivityId">
                <ng-container *ngFor="let activity of (preferredActivities$ | async )">
                    <option [value]="activity.Id">{{activity.Name}}</option>
                </ng-container>
            </select>

            <label for="preferredActivityId">Eet voorkeuren </label>
            <div class="registerEmployee_container_form_checkboxContainer">
                <input class="registerEmployee_container_form_checkboxContainer_checkbox" type="checkbox"
                    formControlName="vegan" id="vegan">
                <label for="vegan">Veganistisch</label>
            </div>
            <div class="registerEmployee_container_form_checkboxContainer">
                <input class="registerEmployee_container_form_checkboxContainer_checkbox" type="checkbox"
                    formControlName="vegetarian" id="vegetarian">
                <label for="vegetarian">Vegetarisch</label>
            </div>
            <div class="registerEmployee_container_form_checkboxContainer">
                <input class="registerEmployee_container_form_checkboxContainer_checkbox" type="checkbox"
                    formControlName="glutenFree" id="glutenFree">
                <label for="glutenFree">Geen gluten</label>
            </div>
            <div class="registerEmployee_container_form_checkboxContainer">
                <input class="registerEmployee_container_form_checkboxContainer_checkbox checkbox" type="checkbox"
                    formControlName="lactoseFree" id="lactoseFree">
                <label for="lactoseFree">Geen lactose</label>
            </div>
            <div class="registerEmployee_container_form_checkboxContainer">
                <input type="checkbox" formControlName="hasEnteredFormTruthfully" id="hasEnteredFormTruthfully">
                <label for="hasEnteredFormTruthfully">Ik verklaar dat dit formulier naar waarheid is ingevuld</label>
            </div>
        </form>
    </div>
</div>