<div class="showEmployeeContainer" *ngIf="employeesData$ | async ">
    <div class="showEmployeeContainer_header">
        <div class="showEmployeeContainer_header_preferredActivity">
            <label for="preferredActivity">Voorkeur </label>
            <select name="preferredActivity" id="preferredActivityId" class="showEmployeeContainer_header_preferredActivity_input"
                [(ngModel)]="selectedActivity" (ngModelChange)="onChange($event)">  
                <ng-container *ngFor="let activity of (preferredActivities$ | async )">
                    <option [value]="activity.Id">{{activity.Name}}</option>
                </ng-container>
            </select>
        </div>

        <button class="showEmployeeContainer_header_addEmployee_button" mat-raised-button color="primary">Toevoegen</button>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="givenName">
            <th mat-header-cell *matHeaderCellDef> Naam </th>
            <td mat-cell *matCellDef="let element"> {{element.GivenName}} </td>
        </ng-container>
        <ng-container matColumnDef="registeredAtUTC">
            <th mat-header-cell *matHeaderCellDef> Aanmelddatum </th>
            <td mat-cell *matCellDef="let element"> {{element.registeredAtUTC}} </td>
        </ng-container>
        <ng-container matColumnDef="emailAddress">
            <th mat-header-cell *matHeaderCellDef> E-mail </th>
            <td mat-cell *matCellDef="let element"> {{element.EmailAddress}} </td>
        </ng-container>
        <ng-container matColumnDef="preferredActivity">
            <th mat-header-cell *matHeaderCellDef> Voorkeur </th>
            <td mat-cell *matCellDef="let element"> {{element.PreferredActivity}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>